<div class="main-container">

  <div>

    <h1 class="page-title">New Channel</h1>

    <div class="formdiv">

      <form class="" action="index.html" method="post">

        <div class="form-control">
          <p>Title:</p>
          <input type="text" name="new_usr" value="">
        </div>

        <div class="form-control">
          <p>Description:</p>
          <input type="text" name="new_pw" value="">
        </div>

        <div class="form-control">
          <p>Type:</p>
          <select name="genres">
            <option *ngFor="let genre of genres" value="{{ genre.genre }}">{{ genre.genre }}</option>
          </select>
          <input type="submit" class="btn">
        </div>

      </form>

    </div>

  </div>

</div>
