/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
  height:100%;
  background: #2d2328;
  padding: 3em 0 0 0;
  margin-top: -3em;
  font-family: 'Raleway', 'Arial';
  color: #fff;
  overflow: hidden;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

input {
    border: 0;
    border-radius: 4px;
    padding: .4em;
}

.main-container {
  margin-top: 0;
  margin-left: 16em;
  justify-content: center;
}

.page-title {
  margin-left: .5em;
  margin-bottom: 0.4em;
}

.page-title {
  font-size: 4em;
}

.centrify {
  align-self: center;
  justify-self: center;
  text-align: center;
}
