/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
  background: rgb(45, 35, 40);
  padding: 3em 0 0 0;
  font-family: 'Raleway', 'Arial';
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.main-container {
  margin-top: -99em;
  margin-left: 16em;
}

.page-title {
  font-size: 4em;
}
