/* Pars & Alignment */
.container {
  padding: 0;
  margin: -3% 30% 0 29%;
}

.container-login {
    display: grid;
    grid-template-columns: 100% auto;

    min-width: 380px;
}

.color-light {
    background: #8c0101;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.color-dark {
    background: #400808;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.col {
    padding: .4em 1.3em;
}
.inner {
  display: inline-block;
  vertical-align: middle;
}

.centrify {
  align-self: center;
  justify-self: center;
  text-align: center;
}

/* Elements:  */
.login-pane {
    padding: .4em 1em 1.3em 1em;
    white-space: nowrap;
}

.log-labels {
  margin-left: 3em;
  margin-right: 5px;
  width: 120px;
}
.label_skip:hover{
  text-decoration: underline;
}

#radio_logo {
  width: 400px;
  height: auto;
  filter: invert(100%);
  margin: 0 auto 1em 12%;
}


input.txt {
    border: 0;
    border-radius: 4px;
    padding: .4em;
    width: 40%;
    margin-right: 20%;
}
input.btn {
    display:block;
    padding:0.2em 3em;
    background:#441799;
    cursor:pointer;
    margin: 0.5em auto 0.5em auto;
    /* border */
    border-color: #5429a6;
    border-radius: 10px;
    border-width: 1px;
    /* text */
    color:#ffffff;
    text-align: center;
    font-size: 1.2em;
}
input.btn:hover {
  background: #2d037b;
  border-color: #380f86;
}

/* Responsive screen */
@media only screen and (max-width: 1050px) {

  .login-pane {
      white-space: normal;
      min-width: 250px;
  }
  .log-labels {
    margin-left: 35%;
    margin-bottom: 0.3em;
  }
  input.txt {
    margin-left: 3em;
    min-width: 260px;
    text-align: center;
  }
  input.btn {
    margin-top: 1.2em;
  }
  #radio_logo {
    margin-left: 0;
  }
}
