<spinner backgroundColor="#ff0000" spinner="sk-three-bounce"></spinner>
<errorMsg *ngIf="errorMsg" [errorMsg]="errorMsg"></errorMsg>


<div class="container">

  <img id="radio_logo" src="../../assets/Radio_logo.gif" alt="Radio logo">

  <div class="container-login color-light">
    <div class="centrify">
        <h2 class="login-title">Authenticate Yourself</h2>
    </div>
  </div>

  <div class="container-login color-dark">
    <div class="login-pane">

      <form (ngSubmit)="onSubmit(fm)" #fm="ngForm">


        <div>
          <p class="inner log-labels">Your username</p>
          <input class="txt inner" type="text" ngModel name="username" [(ngModel)]="input_usr" required>
        </div>

        <div>
          <p class="inner log-labels">Your password</p>
          <input class="txt inner" type="password" ngModel name="password" [(ngModel)]="input_pw" required>
        </div>

        <div class="centrify">
          <input class="btn" type="submit" value="Login">
          <div class="label_skip" (click)="showHint()">Forgot Password?</div>
          <strong><a class="label_skip" href="" routerLink='/registration' routerLinkActive="active">Register.</a></strong>
        </div>

        <div class="hintMsg centrify" *ngIf="activeHint">
          {{ passwordHint }}
        </div>

      </form>

    </div>
  </div>

</div>
