<div class="spinnerP" *ngIf="spinner"><img id="spinnerP" src="../../assets/spinner.gif"></div>

<div class="main-container" *ngIf="!spinner">

  <audioBox class="playerBox" [channelTitle]="globals['channelTitle']" [listenURL]="globals['listenURL']"></audioBox>

  <div class="filterBox">

    <label> Genre    </label>
    <select [(ngModel)]="optGenre" id="genre" (change)="filter()">
      <option value="any" default>Any</option>
      <option *ngFor="let genre of allGenres" value="{{ genre }}">{{ genre }}</option>
    </select>

  </div>

  <div class="channels-number">
    Number of Channels: <strong>{{channels.length}}</strong>
  </div>

  <div>

      <ul>
        <li *ngFor="let channel of channels; let i = index" (click)="chooseChannel(i)">

          <h1>
            <img id="small_radio" src="../../assets/small_radio.png" alt="Radio Picture">
            {{ channel.server_name }}

          </h1>

          <p>{{ channel.server_description }}</p>
          <p><i>Currently playing: <b>{{ channel.title }}<b *ngIf="!channel.title">-</b></b></i></p>

          <strong>{{ channel.genre }}</strong>

          <em>Listeners: {{ channel.listeners }}</em>

        </li>

      </ul>

  </div>
</div>
