nav {
    position: static;
    left: 0;
    top:5em;
    background-color: #390606;
    height: 100vh;
    width: 100px;
    padding: 0 8em 0 0;
    margin-left: -1em;
    margin-right: 14em;
}

nav ul {
    position: absolute;
    height:100%;
    list-style: none;
    padding-top: 0.6em;
    padding-left: 0.4em;
}

nav ul li {
  margin: 1em 0 2em 1em;
  min-width: 160px;
  min-height: 30px;
}

nav ul li a {
  font-size: 1.5em;
}

nav ul li a:hover {
  font-size: 1.6em;
  text-decoration: underline;
}

nav ul li .acc_link {
  margin-top: 5em;
  margin-bottom: -5em;
  padding-bottom: -5em;
}

#radio_logo {
  width:220px;
  height: auto;
  padding: 1em 4em 0 0.3em;
  filter: invert(100%);
}

.blank-space {
  height: 20vh;
}

@media only screen and (min-height: 850px) {
	.blank-space {
		height: 45vh;
	}
}
