<div class="main-container">

  <div class="profile-page">

    <h1 class="page-title">Profile</h1>

    <div class="formdiv">

      <form  (ngSubmit)="onSubmit(fm)" #fm="ngForm">

        <div class="form-control">
          <button class="tokenBtn" type="button" (click)="showToken()">Generate Token</button>
          <div style="text-align: center" *ngIf="channelToken">
            Your token is:<br>
            <strong>{{ channelToken }}</strong>
          </div>
        </div>

        <div class="form-control">
          <p>Change password:</p>
          <input type="text" ngModel name="new_pw" value="" [(ngModel)]="new_pw" (click)="showRePw()">

          <div *ngIf="repeatPassword">
            <p>Repeat password:</p>
            <input type="text" ngModel name="re_pw">
            <p>Old password:</p>
            <input type="text" ngModel name="old_pw">
          </div>

          <div class="pwError centrify" *ngIf="pwError">
              {{ pwError }}
          </div>

        </div>

        <div class="form-control">
          <p>Import avatar:</p>
          <input type="file" name="avatar" accept="image/*">
          <input type="submit" class="btn">
        </div>

      </form>

    </div>

  </div>

</div>

<div class="successBox" *ngIf="successBox">
  Your password has been successfully changed!
</div>
