<div>

  <navbar></navbar>

  <div class="main-container">

    <h1 class="page-title">Profile</h1>

    <div class="formdiv">

      <form class="" action="index.html" method="post">

        <div class="form-control">
          <p>Change username:</p>
          <input type="text" name="new_usr" value="">
        </div>

        <div class="form-control">
          <p>Change password:</p>
          <input type="text" name="new_pw" value="">
        </div>

        <div class="form-control">
          <p>Import avatar:</p>
          <input type="file" name="avatar" accept="image/*">
          <input type="submit" class="btn">
        </div>

      </form>

    </div>

  </div>

</div>
