<div class="main-container">

  <div>

    <h1 class="page-title">Profile</h1>

    <div class="formdiv">

      <form  (ngSubmit)="onSubmit(fm)" #fm="ngForm">

        <div class="form-control">
          <button class="tokenBtn" (click)="showToken()">Generate Token</button>
          <div style="text-align: center" *ngIf="channelToken">
            Your token is:<br>
            <strong>{{ channelToken }}</strong>
          </div>
        </div>

        <div class="form-control">
          <p>Change password:</p>
          <input type="text" ngModel name="new_pw" value="" [(ngModel)]="new_pw" (click)="showRePw()">
        </div>

        <div class="form-control" *ngIf="repeatPassword">
          <p>Repeat password:</p>
          <input type="text" ngModel name="re_pw">
        </div>

        <div class="form-control">
          <p>Import avatar:</p>
          <input type="file" name="avatar" accept="image/*">
          <input type="submit" class="btn">
        </div>

      </form>

    </div>

  </div>

</div>
