.page-title {
  margin-left: 3.5em;
  margin-bottom: 0.4em;
}
.formdiv {
  margin-top: 0.5em;
  padding: 1em 5em;
  border: 5px solid yellow;
  width: 500px;
}
.form-control {
  margin: 1em 1em;
}
p {
  margin: 1em 0.6em;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  text-align: right;
}
input {
    border: 0;
    border-radius: 4px;
    padding: .4em;
    width: 16em;
}
input.btn {
    display:block;
    padding:0.2em 3em;
    background:#441799;
    cursor:pointer;
    margin: 1em 7em;
    width: 10em;
    /* border */
    border: 1px #5429a6 solid;
    border-radius: 10px;
    /* text */
    color:#ffffff;
    text-align: center;
    font-size: 1.2em;
}
input.btn:hover {
  background: #2d037b;
  border-color: #380f86;
}

button.tokenBtn {
  display:block;
  padding:0.2em 3em;
  background:#d05a12;
  cursor:pointer;
  margin: 1em 7em;
  width: 10em;
  /* border */
  border: 1px #a77e00 solid;
  border-radius: 10px;
  /* text */
  color:#ffffff;
  text-align: center;
  font-size: 1.2em;
}

button.tokenBtn:hover {
  background-color: #d04412;
  border-color: #845905;
}
