<div class="spinnerP" *ngIf="spinner"><img id="spinnerP" src="../../assets/spinner.gif"></div>

<div class="main-container" *ngIf="!spinner">

  <div class="channels-number">
    Number of Channels: <strong>{{channels.length}}</strong>
  </div>

  <div>

      <div class="fastName" id="temp" *ngIf="tempDiv">
        {{ tempName }}
      </div>

      <ul>
        <li *ngFor="let channel of channels; let i = index" (click)="showChannel(i)">

          <h1>
            <img id="small_radio" src="../../assets/small_radio.png" alt="Radio Picture">
            {{ channel.name }}

          </h1>

          <p>{{ channel.description }}</p>

          <strong>{{ channel.type }}</strong>

        </li>

      </ul>

  </div>
</div>
