.page-title {
  margin-left: 2.1em;
  margin-bottom: 0.4em;
}
.formdiv {
  margin-top: 0em;
  padding: 0.5em 5em;
  border: 5px solid yellow;
  width: 500px;
}
.form-control {
  margin: 0.5em 0;
  text-align: center;
}

textarea { resize: none; }

input {
    border: 0;
    border-radius: 4px;
    padding: .4em;
    width: 16em;
    text-align: center;
}

select {
  border: 0;
  border-radius: 4px;
  padding: .3em;
  width: 17em;
  text-align: center;
}

input.btn {
    display:block;
    padding:0.2em 3em;
    background:#441799;
    cursor:pointer;
    margin: 1em auto;
    width: 10em;
    /* border */
    border: 1px #5429a6 solid;
    border-radius: 10px;
    /* text */
    color:#ffffff;
    text-align: center;
    font-size: 1.2em;
}
input.btn:hover {
  background: #2d037b;
  border-color: #380f86;
}

label {
  display: block;
  min-width: 50px;
  margin-right: 20px;
  margin: 0.8em auto 0.3em auto;
}

input:disabled {
  text-align: center;
  background-color: #b7acac;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
