<div class="container-register centrify">

  <div class="color-light">
      <h1>Registration</h1>
  </div>

  <div class="color-dark">

    <form (ngSubmit)="onSubmit(fm)" #fm="ngForm" class="register-pane">

      <div>
        <p class="inner log-labels">Enter username:</p>
        <input class="txt inner" type="text" ngModel name="username" placeholder="Your username.">
      </div>

      <div>
        <p class="inner log-labels">Enter password:</p>
        <input class="txt inner" type="password" ngModel name="password" placeholder="Your password.">
      </div>

      <div>
        <p class="inner log-labels">Repeat password</p>
        <input class="txt inner" type="password" ngModel name="c_password" placeholder="Re-enter password.">
      </div>

      <div>
        <p class="inner log-labels">Set a password hint:</p>
        <input class="txt inner" type="text" ngModel name="pw_hint" placeholder="In case you'd forget it.">
      </div>

      <div class="centrify">
        <input class="btn" value="Register" type="submit">
        <strong><a class="cancel" href="" routerLink='/login' routerLinkActive="active">Cancel.</a></strong>
      </div>

    </form>

  </div>

</div>
