<div class="main-container">
  <div class="content">
        <h1 class="page-title">Internet Radio</h1>

        <h3>Listen to music from thousands of internet radio stations streaming live right now or <br>
          Start sharing your own audio with the whole World!</h3>

        <p>Internet radio is an audio service that uses the Internet as a distribution medium
          of broadcasting instead of the traditional radio waves. The proper term used for internet
          radio is webcasting, as it is not actually broadcast through wireless signals.
          It is a form of streaming media where content is usually provided live instead of being
          prerecorded like some podcasts.</p>

  </div>
</div>
